<div class="container menu mt-5">
  <img
    src="../assets/img/logo.png"
    alt="logo"
    class="img_logo pt-3 mx-auto d-block"
  />

  <h1 class="h1-menu text-center rounded-pill">Carta de Precios</h1>

  <div class="container div_select">
    <i class="fa-solid fa-sort"></i>
    <select
      style="cursor: pointer"
      class="form-select"
      name="selectorPostres"
      [(ngModel)]="postreSeleccionado"
      (change)="filtrarPostres()"
    >
      <option value="aa" disabled>Filtrar por categoría</option>
      <option value="todos">Todos</option>
      <option value="dulce">Dulces</option>
      <option value="salado">Salados</option>
      <option value="budines">Budines</option>
      <option value="tortas/tartas">Tortas/Tartas</option>
      <option value="galletitas">Galletitas</option>
    </select>
  </div>
  <p *ngIf="mostrarUsuario" class="mt-3 text-center"> Bienvenido {{nombreUsuario}}, ¿Qué vas a pedir hoy? </p>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Por el momento</strong> algunas imágenes pueden ser ilustrativas.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  <div class="container borde">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center mt-3">
      <div class="col-6" *ngFor="let postre of postresFiltrado">
        <div class="item">
          @defer {
          <div class="card">
            <img
              [src]="postre.img"
              class="card-img-top img_dim"
              alt="postres"
              loading="lazy"
            />
            <div class="contenedor_titulo">
              <h5 class="texto_tarjeta">{{ postre.nombre }}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item contenedor_precio">
                ${{ postre.precio }}
              </li>

            </ul>
          </div>
          } @placeholder (minimum 1000ms) {
          <ngx-skeleton-loader
            [appearance]="''"
            [animation]="'pulse'"
            [theme]="{ height: '150px', background: '#fdcb96' }"
          />
          }
        </div>
      </div>
    </div> 
  </div>
</div>
<a
  href="https://wa.me/3446228618/?text=Hola!%20Me%20gustar%C3%ADa%20hacer%20un%20pedido"
  target="_blank"
>
  <svg
    width="90"
    height="90"
    class="wsp-svg"
    xmlns="http://www.w3.org/2000/svg"
  >
    <image
      href="../../../assets/img/wsp_logo2.png"
      x="0"
      y="0"
      width="100"
      height="100"
    />
  </svg>
</a>

<div class="item">
  @defer {
  <app-footer></app-footer>
  } @placeholder (minimum 4000ms) {
  <ngx-skeleton-loader [animation]="false" [theme]="{ height: '0px' }" />
  }
</div> 
