<div class="container menu mt-5">
  <img
    src="../assets/img/logo.png"
    alt="logo"
    class="img_logo pt-3 mx-auto d-block"
  />
  <h1 class="h1-menu text-center rounded-pill">Carta de Precios</h1>

  <div class="container div_select">
    <i class="fa-solid fa-sort"></i>
    <select
    class="form-select"
    name="selectorPostres"
    [(ngModel)]="postreSeleccionado"
    (change)="filtrarPostres()"
  >

    <option value="aa" disabled>Filtrar por categoria</option>
    <option value="todos">Todos</option>
    <option value="dulce">Dulces</option>
    <option value="salado">Salados</option>
    <option value="budines">Budines</option>
    <option value="tortas/tartas">Tortas/Tartas</option>
    <option value="galletitas">Galletitas</option>
  </select>
  </div>
 

  <div class="container borde">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center mt-3">
      <div class="col-6" *ngFor="let postre of postresFiltrado">
        <div class="card">
          <img [src]="postre.img" class="card-img-top img_dim" alt="..." />
          <div class="contenedor_titulo">
            <h5 class="texto_tarjeta">{{ postre.nombre }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item contenedor_precio">
              ${{ postre.precio }}
            </li>
            <li class="list-group-item contenedor_precio">
              {{ postre.porcion }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <h1> Agregar postre </h1>
  <form (ngSubmit)="agregarPostre(nombre, precio, porcion, img, categoria)">
      <p> Nombre </p>
      <input name="nombre" [(ngModel)]="nombre">
      <p> Precio </p>
      <input name="precio" [(ngModel)]="precio">
      <p> porcion </p>
      <input name="porcion" [(ngModel)]="porcion">
      <input name="categoria" [(ngModel)]="categoria">
      <button type="submit"> submit </button>
  </form>
</div> -->
