
<hr>
<hr>

<h1>Registro</h1>

<div class="container formulario-cont">
    <form (ngSubmit)="onSubmit()" [formGroup]="formReg">
        <div class="mb-3">
          <label  class="form-label">Email: </label>
          <input placeholder="Ingrese su email." type="email" class="form-control" id="email" formControlName="email" >
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña:</label>
          <input placeholder="Ingrese su contraseña." type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
</div>