body {
  background: #d38634;
}

.nav_text {
  font-size: 18px;
  padding-right: 20px;
  font-family: "Merienda", cursive;
}

.navbar {
  background-image: linear-gradient(to right, #fdcb96, #fdc486);
  box-shadow: -0.5px 0px 5px black;
}

.navbar ul li:last-child {
  margin-left: auto; 
}

#last-li {
  list-style-type: none;
}

@media (max-width: 767px) {
  #ig_nav {
    margin-top: -4px;
    
  }
  #wsp_nav {
    margin-top: -2px;
    
  }
  #last-li {
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
    border: 2px solid black;
    margin-left: 2px;
    background-color: #fbb972;
  }
  #last-li:hover{
    background-color: #fcac56;
  }
}
