<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="nav_text"><strong>BrianPostres | </strong></div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://wa.me/3446228618/?text=Hola!%20Me%20gustar%C3%ADa%20hacer%20un%20pedido"
            target="_blank"
            ><strong
              ><i class="fa-brands fa-square-whatsapp"></i> Hacer un
              pedido</strong
            ></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            target="_blank"
            href="https://www.instagram.com/brianpostrescdelu"
            ><strong
              ><i class="fa-brands fa-square-instagram"></i> Instagram</strong
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-menu-postres></app-menu-postres>

<div class="item">
  @defer {
  <app-footer></app-footer>
  } @placeholder (minimum 8000ms) {
    <ngx-skeleton-loader [animation]="false"  [theme]="{ height: '0px'}" />
  }
</div>


