<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="mx-auto nav_text"><strong>BrianPostres</strong></div>
</nav>
<app-menu-postres></app-menu-postres>
<!-- <div class="container">
  <h1> Agregar postre </h1>
  <form (ngSubmit)="agregarPostre(nombre, precio, porcion, img)">
      <p> Nombre </p>
      <input name="nombre" [(ngModel)]="nombre">
      <p> Precio </p>
      <input name="precio" [(ngModel)]="precio">
      <p> porcion </p>
      <input name="porcion" [(ngModel)]="porcion">
      <button type="submit"> submit </button>
  </form>
</div> -->

