<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="nav_text nav-link" routerLink=""
      ><strong>BrianPostres </strong></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbar class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" id="wsp_nav">
          <a
            class="nav-link"
            href="https://wa.me/3446228618/?text=Hola!%20Me%20gustar%C3%ADa%20hacer%20un%20pedido"
            target="_blank"
            ><strong
              ><i class="fa-brands fa-square-whatsapp"></i> Hacer un
              pedido</strong
            ></a
          >
        </li>
        <li class="nav-item" id="ig_nav">
          <a
            class="nav-link"
            target="_blank"
            href="https://www.instagram.com/brianpostrescdelu"
            ><strong
              ><i class="fa-brands fa-square-instagram"></i> Instagram</strong
            ></a
          >
        </li>
        <li class="nav-item" id="ig_nav" *ngIf="isAuthenticated == true">
          <a
            class="nav-link"
            target="_blank"
            routerLink="administrador"
            ><strong
              ><i class="fa-solid fa-user-tie"></i> Panel de Administrador</strong
            ></a
          >
        </li>
  <br>   
      </ul>
     <li class="nav-item ms-auto" id="last-li">
        <a
          routerLink="ingresar"
          class="nav-link"
          (click)="ingresarOSalirClick()"
          ><strong
            ><i class="fa-solid fa-right-to-bracket"></i>{{ estado }}</strong
          ></a
        >
      </li>

 
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
