.divEditarPostre{
    background-color: #acfd96;
    border-radius: 10px;
}
p{
    margin-top: 20px;
    font-family: "Poetsen One", sans-serif;
}
.botonEnviar{
    background-color: #2eb25a;
    color: black;
    font-family: "Poetsen One", sans-serif;
    border: 2px solid #000000;
    margin-bottom: 20px;
}

.btnCerrar{
    background-color: #d23838;
    color: black;
    font-family: "Poetsen One", sans-serif;
    border: 2px solid #000000;
    margin-bottom: 20px;
}