<div class="container divAgregarPostre">
    <p style="padding-top: 20px" class="text-center h3">Agregar nuevo postre</p>
    <form (ngSubmit)="agregarPostre(nombre, precio, porcion, img, categoria)">
      <p>Nombre del postre</p>
      <input
        type="text"
        class="form-control"
        name="nombre"
        [(ngModel)]="nombre"
        placeholder="Insertar nombre"
      />
  
      <p>Precio del postre</p>
      <input
        type="name"
        class="form-control"
        name="precio"
        placeholder="Insertar precio (sin $)"
        [(ngModel)]="precio"
      />
      <p>Categoría</p>
      <select
        class="form-select"
        style="cursor: pointer"
        name="selectorPostres"
        [(ngModel)]="categoria"
      >
        <option value="oculto" selected disabled>Selecciona una categoria</option>
        <option value="todos">Todos</option>
        <option value="dulce">Dulces</option>
        <option value="salado">Salados</option>
        <option value="budines">Budines</option>
        <option value="tortas/tartas">Tortas/Tartas</option>
        <option value="galletitas">Galletitas</option>
      </select>
      <p>Imagen</p>
      <a href="https://www.resizepixel.com">1: Redimencionar imagen a 300pxx300px</a>
      <br>
      <a href="https://convertio.co/es/jpg-webp/">2: Convertir imagen redimencionada a archivo webp</a>
      <br>
      <div class="mb-3">
        <input
          required
          class="form-control"
          (change)="onFileSelected($event)"
          type="file"
          id="formFile"
        />
      </div>
  
      <div class="alert alert-danger" *ngIf="this.errorForm !== ''">
        {{ errorForm }}
      </div>
      <div class="alert alert-success" *ngIf="this.datosEnviados == true">
        Postre cargado correctamente
      </div>
      <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <button type="submit" class="btn btn-success botonEnviar">
          Agregar postre
        </button>
      </div>
    </form>
  </div>
  
