<br>
<br>
<div class="container tablaPostres">
 
  <div *ngFor="let postre of postres, let i = index">
    <div class="row align-items-center border border-1">
      <div class="col-1 text-center">
        {{ i }}
      </div>
      <div class="col-8">
        {{ postre.nombre }}
      </div>

      <div class="col-3 text-center">
        <button class="btn btn-dark" style="margin-right: 10px;" (click)="editarPostre(i)">Editar</button> 
        <button class="btn btn-danger" (click)="eliminarPostre(i)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div id="btnEditar">
  <div *ngIf="mostrarEditor == true"> 
    <app-editar-postre 
    [indicePasado]='this.epico' (mostrarEditor)="recibirInformacionDelHijo($event)">
    
      </app-editar-postre> 
   </div>
</div>



<br>
 <app-agregar-postre></app-agregar-postre> 
