
<div class="container bg-primary tablaCrud">
  <div *ngFor="let postre of postres, let i = index">
    <div class="row align-items-center border border-1">
      <div class="col-1 text-center">
        {{ i }}
      </div>
      <div class="col-8">
        {{ postre.nombre }}
      </div>

      <div class="col-3 text-center">
        <button (click)="editarPostre(i)">Editar</button> |
        <button (click)="eliminarPostre(i)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarEditor == true"> 
  <app-editar-postre *ngFor="let postreS of postres" 
  [indicePasado]='this.epico' (mostrarEditor)="recibirInformacionDelHijo($event)">
  
    </app-editar-postre> 
 </div>


<br>
 <app-agregar-postre></app-agregar-postre> 
